@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.content
  position: relative

  &:has(.input:placeholder-shown)
    &::after
      display: block
      color: #979BA0

  &.errorWrapper 
    .input
      --border-color: #FF3535
      
      &.alpha
        --bg-color: #3F2121
      
      &.beta
        --bg-color: #7A5B5B

      &.gamma
        --bg-color: #FFDFDF
     
      &.delta
        --bg-color: #FFDFDF

      

  &.required::after
    display: none
    content: '*'
    position: absolute
    right: 1.5rem
    top: 1.5rem
    font-size: 1.25rem

  &.errorWrapper
    &::after
      display: block
      color: #FF3535 !important

    .input
      --text-color: #FF3535 

.input.alpha
  --bg-color: #262626
  --border-color: #383838
  --chrome-autocomplete-bg: #18191A
  --outline-color: #5D6268
  --text-color: #fff

.input.beta
  --bg-color: #5D6268
  --border-color: #6D7074
  --chrome-autocomplete-bg: #5D6268
  --outline-color: #5D6268
  --text-color: #fff

.input.gamma
  --bg-color: #fff
  --border-color: #E9E9E9
  --chrome-autocomplete-bg: #fff
  --outline-color: #5D6268
  --text-color: #000

.input.delta
  --bg-color: #F8F8F8
  --border-color: #E9E9E9
  --chrome-autocomplete-bg: #fff
  --outline-color: #5D6268
  --text-color: #000

.input
  width: 100%
  padding: 1.5rem
  padding-bottom: 1.3rem
  border: 1px solid var(--border-color)
  border-radius: 1rem
  font-family: Helvetica Neue
  font-size: 0.875rem
  line-height: 120%
  color: var(--text-color)
  background: var(--bg-color)
  outline-color: var(--outline-color)

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active
    -webkit-background-clip: text
    -webkit-text-fill-color: var(--text-color)
    transition: background-color 5000s ease-in-out 0s
    box-shadow: inset 0 0 20px 20px var(--chrome-autocomplete-bg)


  &::placeholder
    font-family: Helvetica Neue
    font-size: 0.875rem
    line-height: 120%
    color: #979BA0

.error
  position: absolute
  left: 0rem
  bottom: -1.1rem
  font-size: 0.625rem
  color: #FF3535
  opacity: .8

