@use '@/styles/utils/mixin' as m

.content
  margin-left: 10rem

  @include m.media(phone,tablet)
    margin-left: 0

.title
  margin-bottom: 1rem
  font-size: 1.125rem

.description
  margin-bottom: 1.5rem
  font-size: 0.875rem
  color: #979BA0

.form
  display: flex
  gap: 1rem
  margin-bottom: 1rem

  @include m.media(phone, tablet)
    flex-direction: column

  &__desc
    font-size: 0.75rem
    color: #FF3535

  &__input
    width: 100%
    padding: 1.5rem
    border-radius: 1rem
    border: 1px solid #383838
    color: #fff
    background: #262626

    &::placeholder
      color: #BDBCBC
      font-size: 0.875rem
      font-weight: 500
      line-height: 120%

  &__btn
    padding: 1.5rem 3rem
    min-width: unset