@use '@/styles/utils/mixin' as m

.container
  @include m.media(phone, tablet ,laptop)
    margin: 0 0 78px 0
  @include m.media(desktop, widescreen)
    margin: 0 0 73px 0
  .h3
    font-weight: bold
    font-size: 24px
    line-height: 1.2
    margin-bottom: 30px
    @include m.media(tablet, phone)
      font-size: 28px


.wrapper
  overflow: hidden

.bonusTitle
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: 35px
  @include m.media(phone, tablet)
    align-items: flex-start
  .title
    font-size: 24px
    font-weight: 500
    line-height: 1.2
    @include m.media(phone, tablet)
      font-size: 28px
  .description
    max-width: 850px
    font-size: 16px
    font-weight: 400
    line-height: 1.2
    text-align: center
    @include m.media(phone, tablet)
      text-align: start
