@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/shared/journal' as j

.container
    padding: f.px(10) f.px(20) f.px(35) f.px(20)
    border-radius: f.px(20)
    @include m.dye(bgc, c.$chi)
    @include m.media(desktop, widescreen)
        width: 300px
    @include m.media(phone, tablet, laptop)
        position: fixed
        top: 0
        left: 0
        z-index: 151
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        max-width: 350px
        width: 100%
.wrapper
    @include m.media(phone, tablet, laptop)
        position: fixed
        top: 0
        left: 0
        width: 100vw
        height: 100vh
        z-index: 150
        @include m.dye(bgc, c.$gamma-2)

.buttonClosed
    display: flex
    justify-content: flex-end
    align-items: center

.closed
    position: relative
    right: f.px(-10)
    display: flex
    justify-content: center
    align-items: center
    width: f.px(27)
    height: f.px(27)
    padding: 0
    border: none
    border-radius: 50%
    @include m.dye(bgc, c.$psi)
    &::before
        position: absolute
        display: block
        content: ""
        width: f.px(18)
        height: f.px(2)
        transform: rotate(45deg)
        border-radius: f.px(5)
        @include m.dye(bgc, c.$chi)
    &::after
        position: absolute
        display: block
        content: ""
        width: f.px(18)
        height: f.px(2)
        transform: rotate(-45deg)
        border-radius: f.px(5)
        @include m.dye(bgc, c.$chi)

.categoryItem
    display: inline-block
    padding: f.px(6) f.px(18) f.px(7) f.px(18)
    border-radius: f.px(15)
    font-size: f.px(14)
    font-weight: 400
    @include m.dye(c, c.$psi)
    @include m.dye(bgc, c.$alpha)

.programs
    padding: f.px(35) 0
    @include m.dye(bgc, c.$chi)
    @include m.media(desktop, widescreen)
        max-height: 40vh
        overflow-y: auto
    @include m.media(phone, tablet, laptop)
        max-height: 60vh
        overflow: auto

.program
    margin-bottom: f.px(25)
    display: grid
    grid-template-columns: 38px 1fr
    grid-column-gap: f.px(15)
    &:nth-last-child(1)
        margin-bottom: 0

.contentProgram
    width: 200px

.nameProgram
    margin-top: f.px(4)
    margin-bottom: f.px(15)
    font-size: f.px(15)
    font-weight: 500
    line-height: 100%
    @include m.dye(c, c.$psi)

.linkProgram
    grid-row: 2/3
    grid-column: 2/3

.link
    text-decoration-line: underline
    font-size: f.px(15)
    font-weight: 400
    @include m.dye(c, c.$alpha)

.bottom
    line-height: f.px(14.4)

.textBottom
    font-size: f.px(12)
    font-weight: 400
    @include m.dye(c, c.$tau)

.isHighlighted
    @include m.dye(c, c.$alpha)

.isHighlightedTextBottom
    font-weight: 700
    @include m.dye(c, c.$alpha)
