@use '@/styles/utils/mixin' as m
@use '@/styles/themes/default/colors' as c
@use '@/styles/utils/funcs' as f

.content
  padding-top: 0.5rem
  padding-left: 1.5rem
  font-family: Helvetica Neue
  font-size: .925rem

.topWrapper
  position: relative
  margin-bottom: 2rem

.icon
  position: absolute
  top: 0
  left: -1.5rem

.bold
  font-family: Unbounded

.listTitle
  margin-bottom: 0.5rem

.list 
  margin-left: 1rem
  list-style: disc
  color: #ff3535

.item 
  
  margin-bottom: 0.5rem

  p
    color: #fff
