@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f

.container

.btn
  padding: 0.6rem 1rem 0.4rem 1rem
  border: none
  border-radius: 0.75rem
  font-family: Helvetica Neue
  font-size: 0.875rem
  font-weight: 400
  line-height: 120%
  color: #FFF
  background: #191A1B

.opened
  background: #FF3535

.content
  padding: 1.5rem
  border-radius: 1rem
  background-color: #fff