@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.content
  position: relative
  width: min-content

.video
  margin-bottom: 1.5rem
  border-radius: 1rem

.playBtn
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  cursor: pointer
  transition: scale .3s ease-in-out

  &:hover
    scale: 1.1

.bottom
  display: flex
  
  &__name
    color: #000
    font-size: 1.125rem
    line-height: 120%

  &__soundBtn
    border: none 
    background-color: transparent