@use '@/styles/utils/mixin' as m

.list
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 30px 30px
  height: min-content
  @include m.media(laptop)
    grid-template-columns: repeat(2, 1fr)
  @include m.media(phone, tablet)
    grid-template-columns: 1fr

