@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  position: absolute
  bottom: 100px
  right: 10%
  display: flex
  align-items: center
  flex-direction: column
  @include m.media(phone, tablet)
    display: none

.button
  width: 27px
  height: 27px
  margin-bottom: 10px
  border: none
  border-radius: 50%
  background-color: c.$alpha
  transition: background-color .3s ease-in-out
  &:hover
    background-color: darken(c.$alpha, 15%)

.buttonArrow
  transform: translateY(-1px)

.text
  font-weight: 400
  font-size: 13px
  line-height: 120%
  color: c.$alpha

