@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.titleWrapper
  display: grid
  grid-template-columns: repeat(2, 1fr)
  gap: 3rem
  align-items: end
  margin-bottom: 3rem

  @include m.media(phone, tablet, laptop)
    grid-template-columns: 1fr
    gap: 1rem

.title
  margin-bottom: 0
  font-family: Unbounded
  font-size: 2.5rem
  font-style: normal
  font-weight: 400
  line-height: 120% 
  letter-spacing: -0.1rem
  color: #000

  @include m.media(phone, tablet)
    font-size: 1.625rem

.subtitle
  font-family: Helvetica Neue
  font-size: 1.125rem
  font-style: normal
  font-weight: 400
  line-height: 120%
  color: #575757

  @include m.media(phone, tablet, laptop)
    font-size: 1rem

.content
  display: grid
  grid-template-columns: 1fr 3fr
  gap: 1.5rem
  grid-auto-rows: 19rem

  @include m.media(phone, tablet, laptop)
    grid-template-columns: 1fr
    grid-template-rows: 18rem auto
    grid-auto-rows: unset

  &__item
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 1.5rem
    border-radius: 1.5rem

    @include m.media(phone, tablet, laptop)
      padding: 1rem

.left
  color: #fff
  background-color: #FF3535

  @include m.media(phone, tablet, laptop)
    gap: 2rem
    height: min-content

  &__title
    font-size: 1rem
    line-height: 110%
    color: #FCC

  &__description
    font-size: 1.375rem
    line-height: 120% 
    color: #FFF

    @include m.media(widescreen)
      max-width: 13rem

    @include m.media(desktop)
      font-size: 1.275rem

.right
  background-color: #fff

  @include m.media(phone, tablet, laptop)
    grid-row: 1

  &__title
    margin-bottom: 1rem
    font-family: Unbounded
    font-size: 1.5rem
    line-height: 120% 
    color: #FF3535

    @include m.media(phone, tablet)
      font-size: 1.25rem
  
  &__subtitle
    font-size: 1rem
    line-height: 110%
    color: #575757

/* input range customisation */

.range
  position: relative
  isolation: isolate

  @include m.media(phone, tablet)
    margin: 0 auto
    width: 90%

  &.middle::before
    background-color: #FF3535

  &.senior::before
    background-color: #FF3535

  &::before
    position: absolute
    content: ''
    top: -.4rem
    left: 0
    width: 1px
    height: 1rem
    border-radius: 2.5rem
    background-color: #DEE2E5
    z-index: -1

  &::after
    position: absolute
    content: ''
    top: -.4rem
    right: -0.125rem
    width: 1px
    height: 1rem
    border-radius: 2.5rem
    background-color: #DEE2E5
    z-index: -1

.input
  position: relative
  width: 100%
  appearance: none
  -webkit-appearance: none
  margin-bottom: 1.5rem
  height: .125rem
  background: #DEE2E5
  background-image: linear-gradient(to right,#FF3535 0%, #DEE2E5 0%) 
  cursor: pointer
  transition: background-image .3s ease-in-out

  &.middle
    background-image: linear-gradient(to right,#FF3535 50%, #DEE2E5 50%) 

  &.senior
    background-image: linear-gradient(to right,#FF3535 100%, #DEE2E5 100%)

    &::before
      background-color: #FF3535

  &::before
    position: absolute
    content: ''
    top: -0.45rem
    left: 50%
    width: 1px
    height: 1rem
    border-radius: 2.5rem
    background-color: #DEE2E5
    z-index: -1

.slider
  font-size: 2rem
  outline: none

.emoji
  position: absolute
  top: 0
  left: 50%
  transform: translateX(-50%)
  font-size: 24px

.bubble 
  position: absolute
  left: 0
  top: -4.5rem
  max-width: max-content
  margin-bottom: 1.5rem
  padding: 0.5rem
  // border: 1px solid red
  border-radius: 0.75rem
  white-space: nowrap
  color: #fff
  text-align: center
  font-family: Helvetica Neue
  font-size: 1.125rem
  font-style: normal
  font-weight: 400
  line-height: 120%
  background-color: #18191A
  transform: translateX(-50%)

  span
    font-family: Visuelt
    font-weight: 300

  &__arrow
    position: absolute
    bottom: -0.5rem
    left: calc(50% - 10px)

.rangeDescription
  display: grid
  grid-template-columns: repeat(3, 1fr)

  &__item

    &:nth-child(1)
      text-align: left

    &:nth-child(2) > *
      text-align: center

    &:nth-child(3) > *
      text-align: right

  &__title
    margin-bottom: .5rem
    font-family: Helvetica Neue
    font-size: 0.875rem
    font-style: normal
    font-weight: 400
    line-height: 110%
    color: #575757
    transition: color .3s ease-in-out

    @include m.media(phone, tablet)
      font-size: 0.75rem

  &__title.active
    color: #FF3535

  &__experience
    font-family: Helvetica Neue
    font-size: 1rem
    font-style: normal
    font-weight: 400
    line-height: 110%
    color: #000

    @include m.media(phone, tablet)
      font-size: 0.75rem