.calendar
  span::after
    background-color: #FF3535 !important

  & > div
    & > button
      background-color: transparent
    & > span
      font-size: 16px
      font-weight: 700
      text-transform: uppercase
      color: #36383d

.calendarButton
  padding: 8px 15px 10px
  border: 1.229px solid #262626
  border-radius: 50px
  color: #262626
  font-family: Styrene, Arial, Tahoma, sans-serif
  font-size: 18px
  font-weight: 400
  background-color: transparent
  &:hover
    border-color: #FF3535
    color: #FF3535
