@use '@/styles/utils/mixin' as m

.container
  display: block
  overflow: hidden

.title
  max-width: 50rem
  color:  #262626
  font-size: 3.875rem
  font-style: normal
  font-weight: 700
  line-height: 3.875rem
  text-transform: uppercase

  @include m.media(phone, tablet)
    font-size: 2rem
    line-height: 1