@use '@/styles/utils/mixin' as m
@use '@/styles/themes/default/colors' as c
@use '@/styles/utils/funcs' as f

.container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.h1 
  margin-top:40px
  margin-bottom: 20px
  font-size: 40px
  @include m.dye(c, c.$alpha)

.paragraph 
  font-weight: 400
  font-size: 20px
  line-height: 130%

.buttonBox
  display: flex
  flex-wrap: wrap
  gap: 15px
  margin-top: 40px
  margin-bottom: 40px

.buttonBoxBottom
  display: flex
  gap: 30px
  margin-bottom: 40px

.button
  border: 1px solid c.$chi
  border-radius: 25px
  padding: 10px 15px
  color: c.$chi
  font-family: "Styrene", Arial, Tahoma, sans-serif
  font-weight: 400
  font-size: 18px
  line-height: 120%
  background-color: transparent

.link
  padding: 20px
  border: 2px solid c.$alpha
  font-weight: 500
  font-size: 14px
  line-height: 120%

.homepageLink
  border: 2px solid c.$alpha
  padding: 20px 30px
  font-family: "Styrene", Arial, Tahoma, sans-serif
  font-weight: 500
  font-size: 14px
  line-height: 120%
  color: c.$psi
  background-color: c.$alpha