@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.historyArticle
    padding: f.px(22) f.px(0)

.scrollProgress
    position: sticky
    top: 0
    z-index: 1
    overflow: hidden
    height: 4px

.scrollProgressBar
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 4px
    transform: translateX(-100%)
    transition: transform 0.1s ease-out
    @include m.dye(bgc, c.$alpha)

.article
    width: 100%
    margin-left: f.px(110)
    margin-right: f.px(30)

.articleHeader
    margin-top: f.px(71)
    margin-bottom: f.px(65)