@use '@/styles/utils/mixin' as m
@use '@/styles/themes/default/colors' as c
@use '@/styles/utils/funcs' as f

.container
  margin: 56px auto 30px
  padding-left: 10px
  padding-right: 10px
  width: 1310px
  font-size: 18px
  @include m.media(desktop)
    width: 1000px
  @include m.media(laptop, tablet)
    width: 710px
  @include m.media(tablet, phone)
    width: 100%
  &::before,
  &::after
    content: ' '
    display: table
  &::after
    clear: both

.mainTitle
  margin-bottom: 54px
  font-size: 62px

.linkTitle
  font-size: 30px
  font-weight: bold
  h3
    font-size: 30px
    font-weight: bold
    margin-bottom: 30px

.list
  border-top: 1px solid #e6e6e6
  padding-top: 40px
  > li.innerListItem
    position: relative
    margin-bottom: 20px
    padding-left: 20px
    &::before
      content: ''
      position: absolute
      left: 0
      top: 50%
      width: 5px
      height: 5px
      border-radius: 60px
      background-color: #FF3535

.span
  border-radius: 20px
  padding: 3px 8px
  font-size: 14px
  color: #fff
  background-color: #ff3535

.link
  :hover
    color: #ff3535

.item
  display: flex
  align-items: center
  gap: 5px