@use '@/styles/utils/mixin' as m

.container
  border: 1px solid #e6e6e6
  background: #fff
  transition: all .3s ease-out
  position: relative
  display: flex
  flex-direction: column
  align-items: flex-start
  padding: 27px 29px
  line-height: 1.2
  color: #2e3036
  cursor: pointer
  &:hover
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.09)
    .bell
      background: #ff3535
      svg
        filter: brightness(0) invert(1)
        opacity: 1
    .title
      color: #ff3535

.bell
  position: absolute
  top: 20px
  right: 20px
  display: flex
  text-align: center
  justify-content: center
  align-items: center
  width: 46px
  height: 46px
  border-radius: 50%
  background: #f7f7f7
  transition: all .3s ease-out
  @include m.media(tablet, phone)
    top: 15px
    right: 15px
  svg
    transition: all .3s ease-out
    opacity: 0.2

.info
  margin-top: auto

.date
  padding-right: 40px
  margin-bottom: 27px
  font-size: 18px
  color: #36383d
  @include m.media(tablet, phone)
    font-size: 18px
    margin-bottom: 15px

.title
  margin-bottom: 30px
  font-size: 18px
  transition: all .3s ease-out
  @include m.media(tablet, phone)
    font-weight: 400

.info
  display: flex
  justify-content: space-between
  align-items: flex-end
  width: 100%

.duration
  flex-shrink: 0
  margin-left: 20px
  margin-bottom: 8px
  margin-right: -8px
  font-size: 16px
  color: #808080
  @include m.media(tablet, phone)
    font-size: 13px
    margin-bottom: 2px
    margin-right: -3px

.author
  display: flex
  align-items: center
  font-size: 16px
  @include m.media(tablet, phone)
    font-size: 13px

.avatar
  flex-shrink: 0
  margin-right: 18px
  width: 50px
  height: 50px
  border-radius: 50%
  overflow: hidden
  @include m.media(tablet, phone)
    height: 36px
    width: 36px
    margin-right: 12px
    img
      width: 100%
      height: 100%
      object-fit: cover

.name
  display: block
