@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.content
  display: grid
  grid-template-columns: repeat(2, 1fr)
  gap: 1.5rem
  margin-bottom: 3rem
  padding: 3rem
  border-radius: 1.5rem
  background: #51555B

  @include m.media(desktop)
    padding: 2rem 1rem

  @include m.media(phone, tablet, laptop)
    grid-template-columns: 1fr
    padding: 2rem 1rem

.left
  display: flex
  flex-direction: column
  gap: 2rem

  &__title
    margin-bottom: 0
    color: #FFF
    font-size: 2.5rem
    letter-spacing: -0.1rem

    @include m.media(phone)
      max-width: 10rem

    @include m.media(phone, tablet)
      font-size: 1.75rem
      letter-spacing: -0.035rem

  &__desc
    color: #979BA0
    font-size: 1.125rem
    line-height: 120%

    @include m.media(phone, tablet)
      margin-bottom: 2rem
      color: #979BA0
      font-size: 1rem

  &__list
    margin-top: auto
    justify-self: flex-end
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 1.5rem

    @include m.media(desktop)
      gap: 1rem

    @include m.media(phone, tablet)
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(2, 1fr)
      gap: 1rem

  &__item
    display: flex
    flex-direction: column
    justify-content: flex-end
    gap: 0.5rem
    padding: 1rem
    border-radius: 1rem
    background-color: #fff

    @include m.media(desktop)
      padding: 0.5rem
    
    @include m.media(phone)
      padding: 0.95rem

    .number
      color: #000
      font-family: Unbounded
      font-size: 2.5rem
      line-height: 120% 
      letter-spacing: -0.1rem

      @include m.media(phone, tablet)
        font-size: 1.75rem
        line-height: 100%
        letter-spacing: -0.035rem

    .desc
      color: #979BA0
      font-size: 1rem
      line-height: 120%

      @include m.media(phone, tablet, desktop)
        font-size: 0.875rem
        font-style: normal

.right
  position: relative
  min-height: 10rem
  padding: 1.5rem
  border-radius: 1rem
  background-color: #fff
  overflow: hid
  
  &.spaceBetween
    display: flex
    flex-direction: column
    justify-content: space-between

  &__image
    object-fit: cover

  &__title
    margin-bottom: 1rem
    color: #000
    font-size: 1.4rem
    line-height: 120%

    @include m.media(phone, tablet)
      font-size: 1.25rem

  &__desc
    color: #575757
    font-size: 1rem
    line-height: 120%

    @include m.media(phone, tablet)
      font-size: 0.875rem

.right.images
  display: grid
  grid-template-columns: repeat(2, minmax(9rem, 25rem))
  gap: 1.5rem
  background-color: transparent
  padding: 0
  width: 100%

  @include m.media(phone, tablet)
    gap: 1rem

  .images__wrapper
    display: flex
    justify-content: center
    align-items: center
    padding: 1.5rem
    border-radius: 1.5rem

    svg
      width: auto
      height: auto

    &:nth-child(1)
      border: 1px solid #6D7074

      svg
        transform: translateX(.5rem) scale(1.2)
    
    &:nth-child(2)
      border: 1px solid #6D7074

.tagList
  display: flex
  flex-wrap: wrap
  gap: .5rem 1rem