@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.content
  position: absolute
  top: 0

  &__image
    position: absolute
    top: 0
    border-radius: 10rem
    z-index: 999
    overflow: hidden

  &.topLeft
    left: 0
    transform: translate(-1px, -1px)

    .content__image
      left: 0

  &.topRight
    right: 0
    transform: translate(1px, -1px)

    .content__corner
      rotate: 90deg

    .content__image
      right: 0

  &.topRightNoRevert .content__corner
    rotate: 0deg
    
