@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.content
  --background-color: #18191A
  height: 100%
  padding: 1.5rem
  background-color: #fff
  border-top-right-radius: 2rem
  position: relative

.cornerPhoto
  width: 90px
  height: 90px
  position: absolute
  top: 0
  right: -2px
  border-bottom-left-radius: 3rem
  border-bottom: .6rem solid var(--background-color)
  border-left: .6rem solid var(--background-color)
  background-color: var(--background-color)
  transform: translate(-1px, -1px)

  &__image
    border-radius: 10rem
    object-fit: cover

.cornerPhoto::before,
.cornerPhoto::after 
  content: ""
  position: absolute
  width: 25px
  height: 25px
  background: transparent
  border-top-left-radius: 30px
  box-shadow: -5px -5px 0 5px var(--background-color)
  transform: rotate(90deg)

  @include m.media(phone, tablet)
    width: 15px
    height: 15px
    box-shadow: -6px -5px 0 5px var(--background-color)

.cornerPhoto::before
  bottom: -34px
  right: 0px

  @include m.media(phone, tablet)
    bottom: -23px
    right: 1px

.cornerPhoto::after
  top: 1px
  left: -34px

  @include m.media(phone, tablet)
    left: -22px