@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.title 
  max-width: 30rem
  margin-bottom: 1rem
  color: #000
  font-size: 2.5rem
  letter-spacing: -0.1rem

  @include m.media(phone, tablet)
    font-size: 1.8rem

.list
  display: grid
  grid-template-columns: 3fr repeat(3, 1fr)
  gap: 1.5rem

  @include m.media(laptop, desktop)
    grid-template-columns: repeat(3, 1fr)

  @include m.media(phone, tablet)
    grid-template-columns: 1fr 1fr
    gap: 1rem

.left
  display: flex
  flex-direction: column
  justify-content: space-between
    

  @include m.media(phone, tablet)
    grid-column: span 2

  @include m.media(laptop, desktop)
    grid-column: span 3

  &__subtitle
    margin-bottom: 3rem
    color: #575757
    font-size: 1.125rem
    line-height: 120%

    @include m.media(phone, tablet)
      font-size: 1rem
      margin-bottom: 1rem

  &__wrapper 
    padding: 1.5rem
    border-radius: 1rem
    background-color: #fff

  &__desc
    color: #000
    font-size: 0.875rem
    font-weight: 400
    line-height: 120% 

.item
  display: flex
  flex-direction: column
  justify-content: space-between
  gap: 1rem
  padding: 1.5rem
  border-radius: 1rem
  background-color: #fff

  @include m.media(phone, tablet)
    padding: 1rem

  &__titleWrapper
    display: flex
    flex-direction: column
    gap: 0.5rem
    font-size: 1.5rem
    line-height: 120%

  &:nth-child(2)
    
    @include m.media(phone, tablet)
      grid-column: span 2
    

.itemTitle
  display: flex
  align-items: center

.titleText
  color: #000
  font-family: Unbounded
  font-size: 1.25rem
  font-weight: 400
  line-height: 120%

  @include m.media(phone, tablet)
    font-size: 1rem