@use '@/styles/components/layout/StickyBottom.module.sass' as stickyBottom
@use '@/styles/utils/mixin' as m

.btnContent
  display: flex
  justify-content: center
  & > *:first-child
    margin-right: 15px
