@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.tag
  margin-top: .5rem
  margin-bottom: 1.5rem

.content
  padding: 1.5rem 3rem 1.5rem 1.5rem
  background-color: #fff
  @include m.media(phone, tablet)
    padding: 1rem

.title
  margin-bottom: 1rem
  font-family: Unbounded
  font-size: 1.5rem
  line-height: 120% 
  color: #FF3535
  @include m.media(phone, tablet)
    font-size: 1.25rem

.description
  margin-bottom: 3rem
  max-width: 62rem
  font-size: 1.125rem
  line-height: 110%
  @include m.media(phone, tablet)
    margin-bottom: 2rem
    font-size: 1rem

.skills
  display: grid
  grid-template-columns: repeat(2, 1fr)
  gap: 1rem 4rem
  @include m.media(phone, tablet)
    grid-template-columns: 1fr

  &__item
    margin-left: 1.5rem
    max-width: 40rem
    line-height: 120%
    list-style: disc
    @include m.media(phone, tablet)
      margin-left: 1rem
      font-size: 0.875rem