.categoryList
  display: flex
  flex-wrap: wrap
  gap: 15px
  margin-bottom: 65px
  
.categoryBtn
  padding: 8px 15px 10px
  border-radius: 25px
  border: 1.229px solid #262626
  color: #262626
  font-family: Styrene, Arial, Tahoma, sans-serif
  font-size: 18px
  font-weight: 400
  background: none

.active
  border: 1.229px solid #FF3535
  color: #FF3535