@use 'sass:math'
@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/shared/journal' as j

.container
	@include m.media(phone, tablet)
		margin-bottom: f.px(60)
		padding-top: f.px(60) 
		padding-bottom: f.px(60) 
		@include m.dye(bgc, c.$chi)
	@include m.media(laptop, desktop, widescreen)
		margin-bottom: f.px(87)

.content
	position: relative

.link
	@include m.media(tablet, laptop, desktop, widescreen)
	&:hover
		& .title
			@include m.dye(c, c.$alpha)

.leftRightContainer
	display: flex
	@include m.media(phone, tablet)
		gap: f.px(40)
	@include m.media(phone, tablet, laptop)
		flex-direction: column
	@include m.media(laptop, desktop, widescreen)
		gap: f.px(30)

.leftRightContainerAbsolute
	position: absolute
	bottom: 0
	left: 0
	min-width: 100%
	max-width: 100%
	pointer-events: none

.left
	@include m.media(laptop, desktop, widescreen)
		flex-basis: 50%

.right
	@include m.media(laptop, desktop, widescreen)
		flex-basis: 50%

.categoriesButtons
	display: flex
	justify-content: space-between

.title
	margin: 0
	@include m.media(phone, tablet)
		font-size: f.px(24)
		@include m.dye(c, c.$psi)
	@include m.media(laptop, desktop, widescreen)
		font-size: f.px(36)
		@include m.dye(c, c.$chi)
	font-weight: 500
	line-height: 120%
	transition: color .2s ease-in-out

$ldw_gap: 35
.pb
	@include m.media(phone, tablet)
		padding-bottom: f.px(26 + 60)
	@include m.media(laptop, desktop, widescreen)
		padding-bottom: f.px(26 + $ldw_gap)

.description
	margin: 0
	@include m.media(phone, tablet)
		margin-top: f.px(25)
		font-size: f.px(15)
		@include m.dye(c, c.$psi)
	@include m.media(laptop, desktop, widescreen)
		margin-top: f.px($ldw_gap)
		font-size: f.px(20)
		@include m.dye(c, c.$chi)
	font-weight: 400
	line-height: 130%

.btn
	margin: 0
	padding: 0
	border: 0
	appearance: none
	background: none
	@include m.media(phone, tablet)
		font-size: f.px(13)
		@include m.dye(borderc, c.$psi)
		@include m.dye(c, c.$psi)
	@include m.media(laptop, desktop, widescreen)
		@include m.dye(borderc, c.$omega)
		font-size: f.px(13)
	padding-top: f.px(5)
	padding-right: f.px(15)
	padding-bottom: f.px(5)
	padding-left: f.px(15)
	border-width: 1px
	border-style: solid
	border-radius: f.px(15)
	font-weight: 400
	line-height: 120%
	transition: border-color .2s ease-in-out, color .2s ease-in-out
	pointer-events: all
	@include m.media(tablet, laptop, desktop, widescreen)
		&:hover
			@include m.dye(borderc, c.$alpha)
			@include m.dye(c, c.$alpha)

