@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/shared/journal' as j

.container
  @include m.media(phone, tablet)
    padding-top: f.px(60)
    padding-bottom: f.px(60)
  @include m.media(laptop, desktop, widescreen)
    padding-top: f.px(65)
    padding-bottom: f.px(130)

.categories
  display: flex
  align-items: center
  row-gap: f.px(15)
  overflow-x: auto
  @include m.media(phone, tablet)
    

.categoryItem
  padding: f.px(10) f.px(18)
  border-radius: f.px(25)
  font-family: 'Styrene', Arial, Tahoma, sans-serif
  font-weight: 400
  line-height: 120%
  border: 1px solid c.$chi
  white-space: nowrap
  transition-duration: 300ms
  @include m.dye(bgc, c.$psi)
  @include m.media(phone, tablet)
    margin-right: f.px(20)
    font-size: f.px(16)
  @include m.media(laptop, desktop, widescreen)
    margin-right: f.px(34)
    font-size: f.px(18)
  &:hover
    @include m.dye(c, c.$alpha)
    border: 1px solid c.$alpha

.categoryItemIsActive
  padding: f.px(10) f.px(18)
  border-radius: f.px(25)
  font-family: 'Styrene', Arial, Tahoma, sans-serif
  font-weight: 400
  line-height: 120%
  border: 1px solid c.$alpha
  white-space: nowrap
  @include m.dye(c, c.$alpha)
  @include m.dye(bgc, c.$psi)
  @include m.media(phone, tablet)
    margin-right: f.px(20)
    font-size: f.px(16)
  @include m.media(laptop, desktop, widescreen)
    margin-right: f.px(34)
    font-size: f.px(18)
.categoryAllItemIsActive
  cursor: default
.category
  display: inline-block
  padding: f.px(6) f.px(18)
  border: 1px solid c.$chi
  @include m.dye(border, c.$chi)
  border-radius: f.px(15)
  font-size: f.px(14)
  font-weight: 400
  line-height: 120%
  color: c.$chi
