@use 'sass:math'
@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/shared/journal' as j

.container
  margin-top: f.px(25)
  margin-bottom: f.px(25)

.list
  display: flex
  margin: 0
  padding: 0
  flex-direction: column
  list-style-type: initial
  &.ol
    counter-reset: list

.item
  position: relative
  & + .item
    margin-top: f.px(25)
  & em
    font-style: italic
  display: flex
  align-items: baseline
  font-size: f.px(18)
  font-weight: normal
  line-height: 140%
  @include m.dye(c, c.$chi)
  &.ul
    padding-left: f.px(15)
    &::before
      content: ''
      position: absolute
      top: f.px(12)
      left: 0
      min-width: f.px(5)
      width: f.px(5)
      max-width: f.px(5)
      min-height: f.px(5)
      height: f.px(5)
      max-height: f.px(5)
      border-radius: 50%
      @include m.dye(bgc, c.$alpha)

.idx
  display: flex
  justify-content: center
  align-items: center
  width: 38px
  min-width: 38px
  height: 38px
  margin-right: 15px
  border-radius: 50px
  font-weight: 500
  color: #fff
  background-color: #ff3535
  counter-increment: list

.text
  & .br
    & + .br
      display: block
      margin-top: f.px(25)
      // margin-bottom: 0

