@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  --background-color: #f8f8f8
  font-family: 'Helvetica Neue', Arial, Tahoma, sans-serif
  background-color: var(--background-color)
  overflow: hidden

  h2, h3
    font-family: 'Unbounded', Arial, Tahoma, sans-serif
    font-weight: 400

.heroSection
  margin-bottom: 6.3rem

.section
  margin-bottom: 7.5rem

.accreditation
  margin-bottom: 8.2rem