@use '@/styles/utils/mixin' as m

.container
    display: flex
    gap: 30px
    flex-direction: column
    padding-top: 60px
    padding-bottom: 60px

.reviewsWrapp
    display: grid
    grid-auto-flow: column
    gap: 30px
    @include m.media(tablet,phone)
        grid: 0fr / auto-flow max-content
        overflow-x: scroll
        -ms-overflow-style: none
        scrollbar-width: none
        &::-webkit-scrollbar
            display: none

.reviewsColumn
    display: flex
    gap: 30px
    @include m.media(widescreen, desktop, laptop)
        flex-direction: column
        aspect-ratio: 1/1.8

.reviewsColumn2
    @include m.media(widescreen, desktop, laptop)
        justify-content: flex-end

.imgWrappers
    display: flex
    align-items: center

.reviews
    justify-content: center
    align-items: center
    height: max-content
    padding: 1%
    border: 1px solid #E6E6E6
    @include m.media(tablet,phone)
        height: auto
        width: 95vw
        & img
            width: 95vw
            height: auto


.dotsWrapp
    display: flex
    gap: 23px
    align-self: center

.dots
    width: 4px
    height: 4px
    background: #D9D9D9
    border-radius: 20px
    cursor: pointer
    @include m.media(widescreen, desktop, laptop)
        display: none

.activeDot
    width: 6px
    height: 6px
    background: #FF3535

