@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.content
  display: flex
  justify-content: space-between
  align-items: center
  padding: 1rem 3rem .5rem 3rem
  background-color: #F8F8F8

.logo
  display: flex
  align-items: center
  gap: 1rem

  &__icon
    width: 3.25rem
    height: 3.25rem

  &__name
    width: 3.25rem
    height: 2.25rem

.nav 
  display: flex
  gap: 1.5rem
  padding: 1rem
  border-radius: 1rem

  &__item
    color: #000
    font-size: 0.875rem
    font-weight: 400
    line-height: 120%
    cursor: pointer
    position: relative

.underline
  position: absolute
  bottom: -0.4rem
  left: .75rem
  width: calc(100% - 1.5rem)
  height: 4px
  border-radius: 1.375rem
  background-color: transparent
  transition: background-color .3s ease-in-out

  &.active
    background-color: #ff3535

