@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.content
  background-color: #F8F8F8

.wrapper
  max-width: 1392px
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  padding: 1rem 1.5rem .5rem 1.5rem

  @include m.media(phone, tablet)
    padding: 1rem .6rem 0rem .6rem

.logo
  display: flex
  align-items: center
  gap: 1rem

  &__icon
    width: 3.25rem
    height: 3.25rem

  &__name
    width: 3.25rem
    height: 2.25rem

.nav 
  display: flex
  gap: 1.1rem
  padding: 1rem
  border-radius: 1rem

  @include m.media(phone, tablet, laptop)
    display: none

  &__item
    color: #000
    font-size: 0.85rem
    font-weight: 400
    line-height: 120%
    cursor: pointer
    position: relative

.underline
  position: absolute
  bottom: -0.4rem
  left: .75rem
  width: calc(100% - 1.5rem)
  height: 4px
  border-radius: 1.375rem
  background-color: transparent
  transition: background-color .3s ease-in-out

  &.active
    background-color: #ff3535

.popupHeader
  @include m.media(phone, tablet, laptop)
    justify-self: flex-end

.right
  display: flex
  gap: 3rem

.burger 
    display: block
    cursor: pointer
    &.opened 
      .line 
        &:nth-of-type(1) 
          transform: rotate(45deg)
          top: 8px
        &:nth-of-type(2) 
          opacity: 0
          transition: none
        &:nth-of-type(3) 
          top: -8px
          transform: rotate(-45deg)
    .line 
      display: block
      width: 34px
      height: 2px
      background: #000
      margin: 6px 0
      position: relative
      transform-origin: center
      transition:  all 0.3s ease-out
    @include m.media(desktop, widescreen)
      display: none