.marquee
  border-top: 1px solid #efefef
  border-bottom: 1px solid #efefef
  padding-top: 1.5rem
  padding-bottom: 1.5rem
  color: #000
  font-size: 20px
  font-weight: 500
  line-height: 1.3
  overflow: hidden
  position: relative
  width: 100vw

.item
  display: flex
  align-items: center
  user-select: none

.round
  display: block
  width: 5px
  height: 5px
  margin-left: 1.5rem
  margin-right: 1.5rem
  border-radius: 50px
  background-color: #FF3535
