@use '@/styles/utils/mixin' as m

.container
  display: flex
  justify-content: flex-end
  margin-right: 20px
  margin-bottom: 20px
  background-color: transparent
  z-index: 1
  @include m.media(phone)
    &.stickyHidden
      margin-bottom: 60px

.wrapper
  display: flex
  flex-direction: column
  gap: 0.5rem

.messages
  position: relative
  display: flex
  justify-content: center
  align-items: center
  width: 2.5rem
  height: 2.5rem
  background-color: #FF3535
  border-radius: 50%
  cursor: pointer
  transition: all .3s ease-out
  pointer-events: all
  &:hover
    background-color: lighten(#FF3535, 2%)

