@use '@/styles/utils/mixin' as m

.section
    display: flex
    padding-top: 60px
    padding-bottom: 130px
    @include m.media(phone)
        flex-direction: column

.textWrapper
    display: flex
    flex-direction: column
    flex-shrink: 0
    flex-basis: 80%
    .description
        font-weight: 300
        font-size: 20px
        line-height: 130%
        margin-bottom: 60px

.h1
    color: #000
    margin-bottom: 54px

.statistic
    display: flex
    gap: 7%
    .item
        display: flex
        flex-direction: column
        .h2
            font-weight: 700
            font-size: 36px
            line-height: 120%
            color: #FF3535
            margin-bottom: 10px
        .description
            font-size: 16px
            line-height: 120%
            color: #808080

.imgWrapper
    position: relative
    display: flex
    flex-direction: column
    height: 100%
    width: 120%

.img1, .img2
    & img
        aspect-ratio: 1/1
        border-radius: 50%

.img1
    transform: scaleX(-1)
    // width: 100%
    // flex-shrink: 0

.img2
    position: absolute
    bottom: -28%
    left: -15%
    width: 57.18%
    border-width: 10px
    border-style: solid
    border-color: #FFFFFF
    border-radius: 50%
    


