@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  display: flex
  @include m.media(tablet,laptop, desktop, widescreen)
    &:hover
      & .title
        @include m.dye(c, c.$alpha)

.link
  display: flex
  flex-direction: column

.bottom
  display: flex
  flex-direction: column
  flex: 1
  padding-top: f.px(15)
  padding-right: f.px(15)
  padding-bottom: f.px(15)
  padding-left: f.px(15)
  @include m.dye(bgc, c.$phi)
  @include m.dye(c, c.$chi)

.category
  display: flex
  justify-content: center
  align-items: center
  margin-top: f.px(25)
  max-width: max-content
  border: f.px(1) solid c.$chi
  padding-top: f.px(5)
  padding-right: f.px(15)
  padding-bottom: f.px(5)
  padding-left: f.px(15)
  border-radius: f.px(15)
  font-size: f.px(13)
  font-weight: 400
  line-height: 120%
  @include m.dye(c, c.$chi)

.title
  margin-top: f.px(15)
  margin-bottom: f.px(25)
  font-size: f.px(18)
  font-weight: 500
  line-height: 120%
  @include m.dye(c, c.$chi)
  transition: color 0.2s ease-out

.GeneralJournalArticleCreatedAt
  // margin-top: f.px(25)
  margin-top: auto