@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.content
  overflow: hidden

.titleWrapper
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 3rem

  @include m.media(phone, tablet)
    margin-bottom: 2rem

.carousel__navigation
  display: flex
  justify-content: center
  gap: 1.5rem

  @include m.media(phone)
    display: none

.prev
  padding: 0
  border: none
  background-color: transparent
  .svg
    transform: rotate(180deg)

.next
  padding: 0
  border: none
  background-color: transparent


.title
  max-width: 45rem
  margin-bottom: 3rem
  color: #000
  font-size: 2.5rem
  line-height: 120%
  letter-spacing: -0.1rem

  @include m.media(phone, tablet)
    margin-bottom: 0
    font-size: 1.7rem

.carousel
  margin-bottom: 3rem
  
  & > div > div:first-of-type
    display: inline-flex 
    gap: 16px 

  &__item
    cursor: grab
    user-select: none
    &:active
      cursor: grabbing

.item

  &__image
    border-radius: 1.5rem
    transition: all .3s ease-in-out

  &__name
    max-width: 19rem
    margin-bottom: 1rem
    font-family: Unbounded
    font-size: 1.5rem
    line-height: 120%

    @include m.media(phone, tablet)
      margin-top: 1rem
      font-size: 1.25rem

  &__desc
    max-width: 19rem
    color: #575757
    line-height: 120%

    @include m.media(phone, tablet)
      font-size: 0.875rem

.card
  position: relative

  &__image
    border-radius: 1rem

  &__text
    display: flex
    flex-direction: column
    gap: 1.5rem
    padding: 1.5rem
    border-radius: 1rem
    background-color: #fff

  &__nameWrapper
    display: flex
    justify-content: space-between
    align-items: center

  &__close
    border: none
    background: none

  &__name
    font-family: Unbounded
    font-size: 1.5rem
    line-height: 120%

  &__desc
    font-size: 1rem
    line-height: 120%

  &__list
    display: flex
    flex-direction: column
    gap: 1rem
    padding-left: 1rem
    list-style: disc

    li
      color: #575757
      line-height: 120%

.card:hover .cardBtn
  opacity: 1

.cardBtn
  opacity: 0
  position: absolute
  bottom: 1.5rem
  left: 1.5rem
  transition: opacity .3s ease-in-out

  @include m.media(phone, tablet)
    opacity: 1

.cardBtn:hover,
.cardBtn:active
  cursor: pointer !important

.cardTag
  position: absolute
  top: 1.5rem
  left: 1.5rem

