@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/shared/journal' as j

.isActive
  @include m.dye(c, c.$alpha)
  @include m.dye(border, c.$alpha)

.button
  display: inline-block
  padding: f.px(6) f.px(18)
  border: 1px solid
  @include m.dye(border, c.$chi)
  border-radius: f.px(15)
  font-family: "Styrene", sans-serif
  font-size: f.px(14)
  font-weight: 400
  line-height: 120%
  @include m.dye(bgc, c.$psi)
  background-color: white
  color: #262626