@use '@/styles/utils/mixin' as m
@use '@/styles/themes/default/colors' as c
@use '@/styles/utils/funcs' as f

.wrapper
  z-index: 2
  overflow: hidden
  padding-left: 220px
  padding-top: 19px
  margin-bottom: 69px
  position: relative
  &.partner

    padding-left: 75px
    padding-right: 75px

    @include m.media(phone, tablet)
      margin-bottom: 0
      padding-left: f.px(15)
      padding-right: f.px(15)
  @include m.media(desktop, laptop, tablet, phone)
    padding-left: 10px
  @include m.media(tablet, phone)
    margin-bottom: 40px

.title
  position: absolute
  left: 0
  padding-right: 20px
  text-transform: uppercase
  font-weight: bold
  font-size: 20px
  line-height: 1.3
  @include m.media(desktop, laptop, tablet, phone)
    position: static
    width: auto
    padding-right: 0
    margin-bottom: 20px
    margin-top: 0 !important
  @include m.media(phone)
    font-size: 18px
  &.partner
    position: relative
    width: 100%
    margin-bottom: f.px(30)
    font-size: 45px
    font-weight: 700
    line-height: 1.2
    text-transform: lowercase
    &::first-letter
      text-transform: uppercase
    @include m.media(phone, tablet)
      font-size: 25px

.flexContainer
  display: flex
  @include m.media(laptop, tablet, phone)
    display: block

.titleDesc
  line-height: 1.3
  font-size: 20px
  width: 362px
  flex-shrink: 0
  margin-right: 75px
  @include m.media(desktop)
    font-size: 19px
  @include m.media(laptop, tablet, phone)
    font-size: 18px
    margin-right: 0
    width: 100%
    margin-bottom: 40px
  @include m.media(tablet)
    font-size: 16px
  @include m.media(phone)
    font-size: 15px
  &.partner
    width: 40%
    @include m.media(phone, tablet, laptop)
      width: 100%
      margin-bottom: f.px(60)

.desc
  margin-bottom: 20px

.list
  display: flex
  flex-wrap: wrap
  margin: 0 -25px
  p
    line-height: 1.2
  &.partner
    @include m.media(desktop, laptop, widescreen)
      gap: f.px(40) f.px(25)
      padding: f.px(40) f.px(36) f.px(40) f.px(43)
      background-color: c.$alpha
      color: c.$psi
      &>*
        width: 45%
        margin: 0
      & p
    @include m.media(phone, tablet)
      span
        color: c.$alpha



.listItem
  width: 50%
  padding: 0 25px
  margin-bottom: 77px
  @include m.media(laptop)
    margin-bottom: 50px
  @include m.media(tablet, phone)
    margin-bottom: 35px

.number
  display: flex
  font-weight: bold
  font-size: 72px
  margin-bottom: 17px
  margin-top: -11px
  @include m.media(tablet, phone)
    font-size: 48px
  @include m.media(phone)
    font-size: 30px
    margin-bottom: 10px

.years
  margin-right: 10px
