@use "sass:math"
@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.wrapper
  display: block
  margin-bottom: 141px
  @include m.media(laptop, tablet, phone)
    margin-bottom: 90px

.titleContainer
  position: relative
  z-index: 2
  padding-left: 220px
  @include m.media(desktop, laptop, tablet, phone)
    padding-left: 0
  &.variantPageCorporateClients
    padding-left: 0
    @include m.media(phone, tablet)
      margin-bottom: f.px(40)
    @include m.media(laptop, desktop, widescreen)
      margin-bottom: f.px(60)

.title
  p
    margin-top: -6px
    line-height: 1.2
    margin-bottom: 56px

.slider
  position: relative
  &::after
    content: ''
    position: absolute
    z-index: 3
    left: 2px
    top: 2px
    height: calc(100% - 4px)
    width: calc(100% - 4px)
    box-shadow: 0 0 0 8px #fff
    pointer-events: none

.list
  display: flex !important
  flex-wrap: wrap
  text-align: center

.listItem
  flex: 0 0 25%
  height: 138px
  display: flex
  align-items: center
  justify-content: center
  border: 1px solid #e6e6e6
  border-top: none
  border-left: none
  padding: 5px 12px
  @include m.media(laptop, tablet, phone)
    flex: 0 0 50%
  @include m.media(tablet, phone)
    height: 130px
    padding: 2px

.image
  img
    display: inline-block
    max-width: 100%
    max-height: 110px

.noPaddingLeft
  padding-left: 0

.partnershipTitle
  font-style: normal
  font-weight: 500
  font-size: 24px
  line-height: 120%
  color: #2D2C2A
  margin-bottom: 30px
  @include m.media(tablet, phone)
    font-size: 15px

.employmentList
  display: flex
  flex-wrap: wrap
  gap: 60px 30px
  margin: 50px 0
  li
    display: flex
    width: 47%

.itemBox
  p.itemItile
    margin-bottom: 10px
    font-size: 24px
    font-weight: 500
    line-height: 120%
  p.itemText
    font-size: 16px
    font-weight: 300
    line-height: 120%

.circle
  width: 57px
  height: 57px
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  background: #ff3535
  flex-shrink: 0
  margin-right: 43px
  @include m.media(tablet, phone)
    margin-right: 30px
  @include m.media(phone)
    width: 40px
    height: 40px
    margin-right: 20px
    img
      width: 20px