@use 'sass:math'
@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/shared/journal' as j

.container
  padding-top: f.px(20)
  padding-bottom: f.px(80)
  &.singleProgramPage
    padding-top: f.px(130)
    background-color: #2D2C2A

.wrapper 
  overflow-x: scroll
  overflow-y: hidden
  overflow: -moz-scrollbars-none
  &::-webkit-scrollbar
    width: 0

.title-container
  margin-bottom: f.px(60)

.reviewsList
  display: flex
  justify-content: space-between
  gap: 30px

.previewWrapper
  cursor: pointer

.image
  margin-bottom: f.px(20)
  object-fit: cover
  pointer-events: none
  user-drag: none 
  user-select: none

.openPopupText
  user-select: none
  &.singleProgramPage
    color: #fff

.openPopupLink
  display: flex
  align-items: center

.icon
  max-width: f.px(8)
  max-height: f.px(10)
  margin-left: f.px(10)
