@use 'sass:math'
@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/shared/journal' as j

.container
  padding: f.px(50) 0
  margin-bottom: 0
  &.singleProgramPage
    padding: f.px(100) 0
    background-color: #2D2C2A
    margin-bottom: f.px(130)

.singleProgramPage > .titleContainer > h2
  color: #fff


.wrapper 
  overflow-x: scroll
  overflow-y: hidden
  overflow: -moz-scrollbars-none
  &::-webkit-scrollbar
    width: 0

.title-container
  margin-bottom: f.px(60)

.titleContainer
  h2
    margin-left: 220px
    @include m.media(tablet, phone)
      margin-left: 10px

.title
  color: #fff

.reviewsList
  display: flex
  justify-content: space-between
  gap: 30px

.previewWrapper
  cursor: pointer

.image
  margin-bottom: f.px(20)
  object-fit: cover
  pointer-events: none
  user-drag: none 
  user-select: none

.openPopupText
  user-select: none
  &.singleProgramPage
    color: #fff

.openPopupLink
  display: flex
  align-items: center

.icon
  max-width: f.px(8)
  max-height: f.px(10)
  margin-left: f.px(10)
