.scroll
  position: relative
  display: flex
  justify-content: center
  align-items: center
  width: 2.5rem
  height: 2.5rem
  background-color: #18191A
  border-radius: 50%
  cursor: pointer
  transition: all .3s ease-out
  pointer-events: all
  &:hover
    background-color: lighten(#18191A, 2%)


