@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.wrapper
  z-index: 2
  overflow: hidden
  padding: f.px(80) f.px(350) f.px(100) f.px(80)
  position: relative
  background-color: c.$psi
  filter: drop-shadow(0px 4px 94px rgba(0, 0, 0, 0.09))
  @include m.media(desktop, laptop, tablet, phone)
    padding-left: f.px(10)
    padding-right: f.px(10)

.title
  margin-bottom: f.px(30)
  font-size: f.px(48)
  font-weight: 700
  line-height: 1.2

.description
  font-size: f.px(20)
  font-weight: 400
  line-height: 1.2
  color: c.$tau

.policyPrivacy
  font-size: f.px(13)
  font-weight: 400
  line-height: 1.2
  color: c.$tau
  a
    color: c.$alpha