@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f

.content
  display: grid
  grid-template-columns: repeat(2, 1fr)
  gap: 1rem
  font-family: Helvetica Neue
  font-weight: 400
  line-height: 120%
  color: #000
  position: relative

.closeBtn
  position: absolute
  top: -.3rem
  right: -.3rem

.title
  font-size: 1.125rem
  font-weight: 400
  line-height: 110%

.phone
  display: flex
  flex-direction: column
  gap: 0.5rem

  &:first-of-type
    grid-column: 1

  &__desc
    font-size: 0.875rem
    color: #575757