@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.content
  grid-area: banner
  display: none

  @include m.media(tablet, phone)
    display: flex
    align-items: center
    gap: 1rem
    padding: 0.5rem
    border-radius: 1rem
    font-size: 0.875rem
    font-weight: 400
    line-height: 120%
    color: #000
    background-color: #fff

  @include m.media(tablet)
    align-self: flex-start

  p
    @include m.media(tablet, phone)
      max-width: 15rem

.content.mobile
  display: none