@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
    display: grid
    @include m.media(desktop, widescreen)
        grid-template-columns: 1fr 3fr
        column-gap: f.px(30)
    @include m.media(laptop, tablet, phone)
        grid-template-columns: 1fr

.generalContainer
    margin-right: auto
    margin-left: auto
    padding-left: 10px
    padding-right: 10px
    width: 1310px
    margin-bottom: f.px(68)
    @include m.media(desktop)
        width: 1000px
    @include m.media(laptop, tablet)
        width: 710px
    @include m.media(tablet, phone)
        width: 100%
    &::before,
    &::after
        content: ' '
        display: table
    &::after
        clear: both

.filtersContainer
    @include m.media(desktop, widescreen)
        margin-top: f.px(33)
        grid-column: 1/2
        grid-row: 1/7
    @include m.media(tablet, phone, laptop)
        margin-top: 0
        grid-row: 2/3

.sortingContainer
    position: relative
    display: flex
    justify-content: flex-end
    @include m.media(desktop, widescreen)
        grid-column: 2/3
    @include m.media(phone, tablet, laptop)
        justify-content: flex-start

.heroProgram
    position: relative
    margin-bottom: f.px(68)

.heroProgramContainer
    position: relative
    margin-right: auto
    margin-left: auto
    padding-top: f.px(130)
    padding-bottom: f.px(130)
    padding-left: 10px
    padding-right: 10px
    width: 1310px
    @include m.media(desktop)
        width: 1000px
    @include m.media(laptop, tablet)
        width: 710px
    @include m.media(tablet, phone)
        width: 100%

.ourPrograms
    position: relative
    font-weight: 400
    font-size: f.px(24)
    line-height: 120%
    color: #FFFFFF
    max-width: f.px(850)

.title
    @include m.media(desktop, widescreen)
        margin-bottom: 48px
        font-style: normal
        font-weight: bold
        font-size: 62px
        line-height: 100%
        grid-column: 2/3
    @include m.media(tablet, phone, laptop)
        grid-row: 1/2

.titleMobile
    @include m.media(tablet, phone)
        margin-bottom: 48px
        font-style: normal
        font-weight: bold
        font-size: 62px
        line-height: 100%
        margin-bottom: f.px(20)
    @include m.media(tablet)
        font-size: f.px(46)
    @include m.media(phone)
        font-size: 36px
    @include m.media(desktop, widescreen)
        display: none

.infoRectangle
    @include m.media(desktop, widescreen)
        grid-column: 2/3
    @include m.media(phone, tablet, laptop)
        grid-row: 4/5

section.jumbotronPrograms
    background-color: #f7f7f7
    & > * > *
        position: relative
    & a
        color: #808080

.subtitle
    display: flex
    align-items: center
    margin-bottom: 20px
    & h2
        font-style: normal
        font-weight: bold
        font-size: 30px
        line-height: 100%
        margin: 0
    @include m.media(tablet, phone)
        flex-direction: column
        align-items: flex-start
        & > *:nth-child(1)
            margin-bottom: 20px

.content
    flex: 1
    margin-bottom: 130px
    flex-basis: 75%
    @media (max-width: 1329px)
        margin-bottom: 80px
    @media (max-width: 767px)
        margin-bottom: 60px

.qtPrograms
    padding: 12px
    @include m.media(laptop, desktop, widescreen)
        margin-left: 16px
    font-size: 13px
    line-height: 120%
    font-weight: 500
    background-color: #f7f7f7
    color: #ff3535

.desc
    margin-bottom: 25px
    font-style: normal
    font-weight: 300
    font-size: 20px
    line-height: 130%

.counters
    margin-bottom: 25px
    display: flex
    align-items: center
    & div
        display: flex
        font-style: normal
        font-weight: bold
        font-size: 20px
        line-height: 120%
    & > div
        margin-right: 10px
    @media (max-width: 1330px)
        flex-direction: column
        align-items: flex-start

.counter
    @media (max-width: 1330px)
        &:nth-child(1)
            margin-bottom: 20px
    @media (min-width: 1330px)
        align-items: center
        margin-right: 30px

.programMainInfo
    margin-bottom: 43px

.mainInfo
    @include m.media(desktop, widescreen)
        grid-column: 2/3
    @include m.media(phone, tablet, laptop)
        margin-top: f.px(60)

.programs
    display: flex
    flex-wrap: wrap
    margin: 0 -15px -30px
    margin-top: 47px
    @media (max-width: 1019px)
        margin: 60px -10px -20px
    @media (max-width: 480px)
        margin: 30px 2px -20px
    @include m.media(desktop, widescreen)
        grid-column: 2/3
