@use '@/styles/utils/mixin' as m

.content 
  padding-top: 1.5rem
  border-top: 1px solid #383838

.list
  display: flex
  justify-content: space-between

  @include m.media(phone, tablet)
    flex-direction: column
    gap: 1rem

.link
  font-size: 0.875rem
  color: #979BA0