@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.content
  overflow: hidden

.title
  color: #000
  text-align: center
  font-family: Unbounded
  font-size: 2.5rem
  letter-spacing: -0.1rem
  @include m.media(phone, tablet, laptop)
    font-size: 1.75rem
    letter-spacing: -0.035rem
    text-align: left

.carousel
  margin-bottom: 3rem
  
  & > .slick-dots
    background-color: black

  & > div > div:first-of-type
    display: inline-flex 
    gap: 16px 

  & > div > div > div
    border-radius: 1.5rem

.slide
  display: flex !important
  justify-content: space-between
  align-items: flex-start
  gap: 1.5rem
  min-height: 25rem
  padding: 1.5rem
  border-radius: 1.5rem
  // background-color: #51555B
  overflow: hidden
  cursor: grab
  user-select: none
  position: relative

  @include m.media(laptop)
    flex-direction: column-reverse

  &:active
    cursor: grabbing

  &__content
    display: flex
    flex-direction: column
    gap: 1rem
    max-width: 40rem
    padding: 1rem
    border-radius: 1rem
    background-color: #fff

  &__title
    color: #000
    font-size: 1.5rem
    line-height: 120%

  &__desc
    color: #575757
    line-height: 110%

  &__image
    border-radius: 1.5rem

    @include m.media(desktop)
      height: 20rem

    @include m.media(laptop)
      height: 23rem
      width: 100%

.dots

  &__progress
    display: block
    position: absolute
    width: calc(100% - 6rem)
    height: 2px
    border: none
    transform: translate(0, .7rem)
    z-index: 0
    background-color: #f5f5f5
    background-image: linear-gradient(to right, #FF3535, #FF3535)
    background-repeat: no-repeat
    background-size: 0 100%
    transition: background-size .4s ease-in-out

  &__list
    position: relative
    display: flex
    justify-content: space-between
    border-radius: 1.5rem
    z-index: 1

    > li:nth-child(1) .checkDescription
      left: 0

    > li:nth-child(2) .checkDescription
      left: 50%
      transform: translateX(-50%)
   
    > li:nth-child(3) .checkDescription
      left: 50%
      transform: translateX(-50%)
   
    > li:nth-child(4) .checkDescription
      left: 50%
      transform: translateX(-50%)
   
    > li:nth-child(5) .checkDescription
      left: 50%
      transform: translateX(-50%)

    > li:nth-child(6) .checkDescription
      right: 0

.checkWrapper
  position: relative

.checkDescription
  position: absolute
  top: 3rem
  color: #000
  text-align: center
  line-height: 110%
  white-space: nowrap
  transition: color .4s ease-in-out

  @include m.media(laptop)
    font-size: .8rem

.checkDescription.active
  color:#FF3535

.iconCheck
  cursor: pointer

.iconCheck > g > circle
  transition-delay: .4s
  transition: fill .4s ease-in-out

.carousel__navigation
  display: flex
  justify-content: center
  gap: 1.5rem

.prev
  padding: 0
  border: none
  background-color: transparent
  .svg
    transform: rotate(180deg)

.next
  padding: 0
  border: none
  background-color: transparent
