@use 'sass:math'
@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.priceWrapper
  display: flex
  gap: .2rem
  font-style: normal
  font-weight: 400
  line-height: 120%

.discount
  margin-left: .3rem
  color: #575757
  font-family: "Helvetica Neue"
  font-size: 0.875rem
  font-style: normal
  font-weight: 400
  line-height: 120%
  text-decoration-line: strikethrough
  position: relative

  &::after
    position: absolute
    content: ''
    height: 1px
    width: 100%
    left: 0
    right: 0
    top: 50%
    background-color: currentColor
