@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.priceTag.reverse
  flex-direction: row-reverse

.priceTag
  span
    font-family: "Helvetica Neue" !important

  // i[data-currency]
  //   font-family: font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important

.price
  display: flex
  flex-direction: column
  gap: .5rem

  &__description
    display: flex
    gap: .2rem
    font-size: 0.625rem
    font-style: normal
    font-weight: 400
    line-height: 120%
    color: #FF3535
    
    span
      font-family: "Helvetica Neue"

  &.darkBg
    .price__description
      color: #fff