// @use '@/styles/base' as b
@use '@/styles/components/layout/StickyBottom.module.sass' as stickyBottom
@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/shared/general' as g

.bottomContainer
  position: relative
  padding: 35px
  & > *:first-child
    margin-bottom: 11px
  & > *
    width: 100%

.btnContent
  display: flex
  justify-content: center
  & > *:first-child
    margin-right: 15px

.formSubmitted
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  padding: 1.5rem
  text-align: left

  .weWillContactYouPara
    color: #000
    font-family: "Helvetica Neue"
    font-size: 1.125rem

