@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.content
  position: relative

.input.alpha
  --border-color: #383838
  --chrome-autocomplete-bg: #18191A
  --text-color: #fff

.input.beta
  --border-color: #6D7074
  --chrome-autocomplete-bg: #5D6268
  --text-color: #fff

.input.gamma
  --bg-color: #fff
  --border-color: #E9E9E9
  --chrome-autocomplete-bg: #fff
  --outline-color: #5D6268
  --text-color: #000

.input.delta
  --bg-color: #F8F8F8
  --border-color: #E9E9E9
  --chrome-autocomplete-bg: #fff
  --outline-color: #1b2d43
  --text-color: #000


.input
  width: 95%
  padding-bottom: 1rem
  border: none
  border-bottom: 1px solid var(--border-color)
  color: var(--text-color)
  font-family: Helvetica Neue
  font-size: 1rem
  font-style: normal
  font-weight: 400
  line-height: 120%
  background-color: transparent
  outline: none
  transition: border-color .3s ease-in-out

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active
    -webkit-background-clip: text
    -webkit-text-fill-color: var(--text-color)
    transition: background-color 5000s ease-in-out 0s
    box-shadow: inset 0 0 20px 20px var(--chrome-autocomplete-bg)

  &::placeholder
    font-size: 0.875rem
    color: #979BA0

  &:focus
    border-color: var(--border-color)

.error
  position: absolute
  left: 1rem
  bottom: -1.2rem
  color: #FF3535
  opacity: .8