@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/utils/mixin/media' as bp

.formBeta

.container
  display: grid
  grid-template-columns: 1fr 1fr
  row-gap: 1.5rem
  column-gap: 1rem

  @include m.media(phone, tablet)
    grid-template-columns: 1fr
    row-gap: 1rem

.inputName,
.inputPromo,
.inputRadio,
.inputSubmit
  grid-column: span 2

  @include m.media(phone, tablet)
    grid-column: span 1

.inputEmail

  @include m.media(phone, tablet)
    margin-bottom: 1rem

.inputPromo

  @include m.media(phone, tablet)
    margin-bottom: 1rem

.privacyPolicy
  margin-top: 1rem
  font-size: 0.875rem
  line-height: 120%
  color: #979BA0