@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.media(phone, tablet)
    padding-inline: 10px

.container.noCarousel .content
  padding: 3rem 1.5rem 3rem 1.5rem

  @include m.media(phone, tablet)
    padding: 2rem 1rem

.content
  display: grid
  grid-template-columns: repeat(2, 1fr)
  gap: 1.5rem
  padding: 3rem 0rem 3rem 1.5rem
  border-radius: 1.5rem
  background: #18191A

  @include m.media(desktop)
    grid-template-columns: 1fr auto
    padding-right: 0.5rem

  @include m.media(phone, tablet, laptop)
    grid-template-columns: 1fr
    padding: 2rem 1rem

.left
  display: flex
  flex-direction: column
  justify-content: space-between

.title
  margin-bottom: 3rem
  color: #fff
  font-size: 2.5rem
  line-height: 120%
  letter-spacing: -0.1rem

  @include m.media(phone, tablet)
    margin-bottom: 0
    font-size: 1.7rem 

.list
  display: flex
  flex-wrap: wrap
  gap: 3rem

.item
  width: min-content

.carousel
  position: relative

  @include m.media(phone, tablet)
    display: none
  
  & > div
    width: 34rem

  & > div > div > div:nth-child(2n) .card
    background-color: #FF3535

    &__title
      color: #fff
    
    &__description
      color: #FDB7B7

  & > div > div:first-of-type
    display: inline-flex 
    gap: 1rem

  &__post 
    // max-width: 22rem 
    cursor: grab
    user-select: none

    &:active
      cursor: grabbing

.card
  display: flex
  flex-direction: column
  justify-content: flex-end

  &__title
    margin-bottom: 1rem
    font-family: Unbounded
    font-size: 1.5rem
    font-style: normal
    font-weight: 400
    line-height: 120%

    @include m.media(phone, tablet)
      margin-top: 4rem

  &__description
    font-family: Helvetica Neue
    font-size: 1rem
    font-style: normal
    font-weight: 400
    line-height: 110%

.post
  // width: 25rem
  height: 360px
  overflow: hidden
  border-radius: 1.5rem

  &__image
    border-radius: 1.5rem
    overflow: hidden

.sliderWrapper
  position: relative
  align-self: flex-start
  margin-bottom: 0
  overflow: hidden

.sliderWrapper.hide
  display: none


.active
  opacity: 1

.carousel__navigation
  display: flex
  justify-content: center
  gap: 1.5rem
  margin-top: 1.5rem

  @include m.media(phone, tablet)
    display: none

.prev
  padding: 0
  border: none
  background-color: transparent
  .svg
    transform: rotate(180deg)

.next
  padding: 0
  border: none
  background-color: transparent

// .svg
//   circle
//     fill: #fff
//     transition: fill .3s ease-in-out
//   path
//     fill: #18191A
//     transition: fill .3s ease-in-out

// .disabled
//   circle
//     fill: #51555B
//   path
//     fill: #18191A

.icon
  @include m.media(phone, tablet)
    display: none

.mobileList
  display: flex
  flex-direction: column
  gap: 1rem

.mobileList.hide
  display: none

.post:nth-child(2n) .card
  background-color: #FF3535

  &__title
    color: #fff
  
  &__description
    color: #FDB7B7

.rotation
  animation-name: rotation
  animation-duration: 45s
  animation-iteration-count: infinite
  animation-timing-function: linear

@keyframes rotation
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)