@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  --background-color: #f8f8f8

  padding: 1rem
  font-family: 'Helvetica Neue', Arial, Tahoma, sans-serif
  background-color: var(--background-color)
  overflow: hidden
