@use '@/styles/utils/mixin' as m

.content
  display: grid
  grid-template-columns: repeat(4, 1fr)
  gap: 1rem
  margin-left: 10rem

.list

  &__title
    margin-bottom: 1rem
    font-size: 1.125rem

  &__item
    margin-bottom: 0.5rem
    font-size: 0.875rem
    color: #979BA0
