@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.btn 
  display: flex
  justify-content: center
  align-items: center
  min-width: 18.4rem
  padding-block: 2rem
  border: none
  border-radius: 0.75rem
  font-size: 1.125rem
  font-family: Helvetica Neue

  @include m.media(phone, tablet)
    min-width: unset
    padding-block: 1.7rem
    font-size: .875rem

.alpha
  background-color: #FF3535
  color: #FFF

.beta
  background-color: transparent
  color: #FFF
  border: 1px solid #FFF

.gamma
  background-color: #18191A
  color: #FFF
  border: 1px solid #FFF

.btn.small
  align-self: flex-start
  min-width: 6rem
  padding: .7rem 1rem .5rem 1rem
  border-radius: .75rem
  color: #FFF
  font-family: Helvetica Neue
  font-size: 0.875rem
  font-style: normal
  font-weight: 400
  line-height: 120%