@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

// no background white color white border
// no background red color red border
// pink background red color no border
// red background white color no border
// white background black color no border

.tag
  display: flex
  justify-content: center
  align-items: center
  width: max-content
  padding: .5rem .7rem
  padding-top: .7rem
  border-radius: 2.5rem
  font-size: 0.875rem
  font-family: Helvetica Neue
  font-style: normal
  font-weight: 400
  line-height: 120%

.gamma
  border: none
  color: #FF3535
  background: #FFDFDF

.delta
  border: none
  color: white
  background-color: #FF3535

.zeta
  border: none
  color: #FA9928
  background-color:  #FFE6C9

.eta
  border: none
  color: #fff
  background-color:  #000

