@use '@/styles/utils/mixin' as m

.licenceText
  margin-bottom: 1rem
  font-size: 1.125rem


.imageWrapper
  display: flex
  justify-content: center
  align-items: flex-end
  width: 5.625rem
  height: 5.625rem
  margin-bottom: 1rem
  border-radius: 1rem
  background: #262626
  overflow: hidden

.requisites
  font-size: 0.75rem