@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.title
  margin-bottom: 3rem
  color: #000
  font-size: 2.5rem
  line-height: 120%
  letter-spacing: -0.1rem
  text-align: center

  @include m.media(phone, tablet)
    font-size: 1.7rem
    letter-spacing: -0.065rem
    text-align: left

.list
  display: grid
  grid-template-columns: repeat(2, 1fr)
  gap: 1.5rem

  @include m.media(phone, tablet, laptop)
    grid-template-columns: 1fr

.item
  display: flex
  flex-direction: column
  justify-content: flex-end
  gap: 1.5rem
  min-height: 25rem
  padding: 1.5rem
  border-radius: 1.5rem
  background: #E7EAED
  position: relative
  overflow: hidden

  @include m.media(phone, tablet)
    gap: 1rem
    padding: 1rem

  &__title
    margin-bottom: 1rem
    font-size: 1.5rem
    line-height: 120%

    @include m.media(phone, tablet)
      font-size: 1.25rem

  &__desc
    color: #575757
    font-size: 1rem
    line-height: 120%

    @include m.media(phone, tablet)
      font-size: .9rem

  &__content
    width: 100%
    padding: 1.5rem
    border-radius: 1rem
    background-color: #fff
    z-index: 1

    @include m.media(phone, tablet)
      align-self: flex-start !important

  &__background
    position: absolute

.item:nth-child(1) .item__background
  top: -153px
  left: -80px

  @include m.media(phone)
    top: -153px
    left: -200px
  
  @include m.media(tablet)
    top: -153px
    left: 0px

.item:nth-child(4) .item__background
  top: -153px
  left: -80px
