@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
    
.sectionJournalCategories
  @include m.media(phone, tablet)
    padding-bottom: f.px(60)
    padding-top: f.px(60)
  @include m.media(laptop, desktop, widescreen)
    padding-top: f.px(65)
    padding-bottom: f.px(140)